.left{
    border:2px solid black;
    /* padding: 12rem 8.29rem; */
    color: white;
    font-size: xx-large;
    background-color: black;

}
.right{
    border:2px solid black;
    /* padding: 12.5rem 26.52rem; */
}
.monserrat-7{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

}
.lato-4{
    font-family: "Lato", sans-serif;
    font-weight: 400;   
}

.input{
    border: 10px;
}